.container-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overflow {
  height: 80%;
  overflow: auto;
}

#blog {
  margin: 10px 0px;
  width: 75%;
  border-top: 2px black solid;
  padding: 10px;
}

#blog img {
  height: 400px;
  width: auto;
}