.container-contact {
  display:flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
	/* margin-left:5vw; */
	/* margin-right:5vw; */
	background-color: transparent;
	height:80%;
  /* align-content:stretch; */
}

#contact {
  height: 100%;
  width: 100%;
}

form h1 {
  text-align: center;
  color: #493A37;
}

form {
}

#contact fieldset input:focus {
  outline: 0;
  border-bottom: 1px solid #EF626B;
}
#contact textarea:focus {
  outline: 0;
  border: 1px solid #EF626B;
}


fieldset {
  border: medium none !important;
  margin: 0 0 10px;
}

input {
  border: none;
}

#contact textarea {
  border: none;
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: none;
  background: transparent;
  margin: 0 0 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background:#A8B7AB;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #EF626B;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}