.floating-text {
  height:80%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding-left: 20%;
  /* padding-top: 25%; */
  color: #493A37;
  position: relative;
  /* left: 18%; */
  top: 35%;
}

.floating-text h1 {
  font-size: 6em;
}

.floating-text h3 {
  font-size: 3em;
}