@import "nav.css";
@import "animation.css";
@import "footer.css";
@import "floating-text.css";
@import "portfolio-grid.css";
@import "contact-form.css";
@import "blog.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	margin: 0;
  padding: 0;
  font-family:'Open Sans', sans-serif;
}

html {
}
.container {
	display:flex;
	flex-direction: column;
	margin-left:5vw;
	margin-right:5vw;
	background-color: transparent;
	height:100vh;
	align-content:stretch
}

#landing-background {
  background: url(/Content/Web_Final_Col.jpg);
	background-size: cover;
}

#aboutme-background {
  background: url(/Content/Web_Final_Col.jpg);
  background-size: cover;
}

#blog-background {
	background: url(/Content/Web_Background.png);
	background-size: cover;
}

#contact-background {
	background: url(/Content/Web_Background.png);
	background-size: cover;
}

#portfolio-background {
	background: url(/Content/Web_Background.png);
}

a {
	text-decoration: none;
	/* color: white; */
}

section {
  height: 80%;
  width: 30%
}