@import "nav.css";
@import "animation.css";
@import "footer.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
	margin: 0;
  padding: 0;
  font-family:'Open Sans', sans-serif;
}

html {
}

body {
  /* background-color: black; */
background: url(/Content/img.jpg);
  background-size: cover;
}

a {
	text-decoration: none;
	color: white;
}

.floating-text {
  height:80%;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding-left: 22%;
  padding-top: 25%;
  color: white;
}

.floating-text h1 {
  font-size: 6em;
}

.floating-text h3 {
  font-size: 3em;
}

section {
  height:80%;
  width: 40%;
  display: flex;
  justify-content: center;
  background-color: darkgray;
  color: black;
  border: 2px solid white;
  margin: 5px;
}