@media only screen and (min-width: 500px) {
  #landing-background {
    background: url(/Content/Web_Final_Col.jpg);
    background-size: cover;
  }

  /* #aboutme-background {
    background: url(/Content/Web_Final_Col.jpg);
    background-size: cover;
  } */

  /* #blog-background {
    background: url(/Content/Web_Background.png);
    background-size: cover;
  }
  
  #contact-background {
    background: url(/Content/Web_Background.png);
    background-size: cover;
  }
  
  #portfolio-background {
    background: url(/Content/Web_Background.png);
  } */
}