@media only screen and (min-width: 600px) {

  #landing-background {
    background: url(/Content/Web_Final_Col.jpg);
    background-size: cover;
  }

  #aboutme-background {
    background: url(/Content/Web_Final_Col.jpg);
    background-size: cover;
  }

}

@media only screen and (max-width: 600px) {
  
  #landing-background {
    background: url(/Content/Web_Background.png);
  }

  nav {
    font-size: 8px;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  nav i {
    display: none;
  }

  .floating-text {
    margin-top: 200px;
  }

  #aboutme-background {
    background: url(/Content/Web_Background.png);
  }

  #about {
    height: 80%;
    width: 100%;
    overflow: auto;
  }
  
  .grid-container {
  }

  .grid {
    height: 190px;
  }

  a.heading {
    font-size: 80%;
  }

  a.heading span {
    font-size: 90%;
    top: 0;
    padding: 0;
  }

  .details {
    font-size: 45%;
  }

  /* .div.grid {
    display: none;
  } */

}